<%- include('partials/header') %>

<h1>Quiz Complete</h1>

<p>Your current streak: <%= streak %></p>


Would you like to try again?  <!-- add button here to return to quiz -->
<!-- Add button saying return home, redirect to homepage -->