<%- include('partials/header') %>

<!-- Display current streak and button to redirect to quiz page or home page -->
<h1>Quiz Complete</h1>

<p>Your current streak: <%= streak %></p> 

Would you like to try again?
<comp-container>
<a href="/quiz"><button class="comp-button">Try Again</button></a> 
<a href="/"><button class="comp-button">Return home</button></a>
</comp-container>
