<%- include('partials/header') %>

<!-- Display top 10 streaks and the date obtained -->

<h2>Leaderboard</h2>

 <h2>Top 10 Streaks:</h2>
<ul>
    <% topStreaks.forEach(({streak, date}, index) => { %>
        <li><%= index + 1 %>. Streak: <%= streak %> Date: <%= date %></li>
    <% }) %>
</ul>

<a href="/"><button class="comp-button">Return home</button></a>